body {
    margin: 0;

}

p {
    font-family: 'Be Vietnam Pro', 'Roboto', 'Poppins' sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
    padding-right: 20%;

}

.container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;


}

.part1 {
    width: 100%;
    margin-top: 5%;
}

h1 {
    font-size: 55px;
    border-left: 5px solid;
    color: rgb(6, 6, 61);
    border-image: linear-gradient(tomato, orangered);
    border-image-slice: 1;
    padding-right: 30%;
}

.miss {
    color: chocolate;
}

.b1 {
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 35px;
    font-weight: 500;

}

.part1 img {
    width: 100%;
    padding-right: 40%;
}

a:hover {
    background-color: orangered;
}

.part2 {
    padding: 20px;
    margin: 10px;
    border-radius: 15px;

}

.part2 img {
    width: 30%;

}

#misso {
    background-color: rgba(100, 148, 237, 0.192);
}

#visso {
    background-color: rgba(255, 182, 193, 0.527);
}

#go {
    background-color: rgba(255, 228, 196, 0.479);
}

#my-misso {
    font-family: 'Be Vietnam Pro', 'Roboto' sans-serif;
    border: none;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
    padding-left: 30%;
}

.code img {
    width: 100%;
    margin-top: 10%;

}

.devo h1 {
    font-family: 'Be Vietnam Pro', 'Roboto', sans-serif;
    font-size: 40px;
    margin: 0;
    border: none;


}

.devo {
    margin-top: 5%;
    padding-left: 70px;
    padding-bottom: 15%;
}

#do {
    padding-right: 20%;
}

.glob-img img {
    width: 80%;
    margin-left: 100px;
    padding-right: -45px;
    /* padding-top: 5%; */
    padding-bottom: 15%;

}

.glob h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 0;
    border: none;
    font-weight: bold;



}

.lo {
    padding-right: 20%;

}

.foot {
    text-align: center;

    background-color: black;
    color: white;
    padding-right: 30%;
    padding: 5px;
}

.fh {
    font-family: 'Lobster', cursive;
    border: none;
    padding-right: 20%;
    color: white;
}

#fy {
    color: brown;
}

.foot p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}